{{ if not .Params.noauthor }}
{{$author := index .Site.Data.authors (or .Params.author .Site.Params.author)}}
{{$authorname := or $author.name .Site.Params.author }}
{{$authorbio := or $author.bio .Site.Params.bio }}
{{$authorlocation := or $author.location .Site.Params.author_location }}
{{$authorwebsite := or $author.website .Site.Params.author_website }}
{{$authortwitter := or $author.twitter .Site.Params.twitter }}
{{$authorgithub := or $author.github .Site.Params.github }}
{{$authorthumbnail := or $author.thumbnail .Site.Params.author_thumbnail }}
<div class="post-author">

    <img style = "border-radius: 25px;" src="{{ $authorthumbnail }}" alt="{{ $authorname }} image" width="90" height="90">
    <br>
    <span style="font-size: 1.02em;font-weight: bold;">
        {{$authorname}}
    </span>
    |
    <a style = "text-decoration: none;" class = "post-author__text" href = {{$authorwebsite}} >
        <img style="width:20px;" src = "http://image.flaticon.com/icons/png/128/12/12195.png"/>
    </a>

    <a class="icon-twitter post-author__text" style="font-size: 1.4em; text-decoration: none;" href = {{$authortwitter}} onclick="window.open(this.href"></a>

    <a style = "text-decoration: none;" class = "post-author__text" href = {{$authorgithub}} >
        <img style="width:23px;" src = "https://a248.e.akamai.net/assets.github.com/images/icons/emoji/octocat.png"/>
    </a>


    <br>

    <p class="post-author__text">{{$authorbio}}</p>
    {{else}}
    <span class="post-author__text">Read <a href="{{.Site.BaseURL}}">more posts</a> by this author.</span>
</div>
{{end}}
