<style>

  .author_blurb {
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    align-items: flex-start;
    height: 150px;
    text-decoration none;
  }
  
  .author_photo {
  }
  
  .photo{
    width: 90px;
  }
  
  .author_info{
    display: flex;
    flex-direction: column;    
    padding-left: 15px;
    justify-content: center;
  }
  
  .name{
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.7rem;
  }
  
  .contact_info{
    align-content: center;
  }
  
  .contact_info a {
    background-repeat: no-repeat, no-repeat, no-repeat !important;
    text-decoration: none !important;
  }
  
  .bio{
    height: 100px;
    padding-top: 0px;
  }
  
  .bio_text{
    padding-top: 5px;
    margin-top: auto;
    font-size: 1.2rem;
    line-height: 1.5em;
    font-weight: 200;
    color: #636363;
    letter-spacing: 0;
    text-indent: 0;
  }
  
  /* Medium screens */
  @media all and (max-width: 800px) {
    .author_blurb {
      
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .author_blurb {
      flex-direction: column;    
    }
    .author_info{
      padding-top: 40px;
    }
    .author_photo {
      align-self: center;
    }
  }
  
</style>

