{{ partial "header.html" . }}
<body>
<div id="layout" class="pure-g">
<article class="pure-u-1">
{{ partial "brand.html" . }}
{{ partial "intro_viz.html" . }}

{{ range .Site.Pages }}
  {{if eq .Type "post" }}
    {{if eq .Title "Posts"}}
      <hr>
      <h2><a href="{{ .RelPermalink  }}">See all posts</a></h2>
    {{else}}
      {{ partial "content.header.html" . }}
      <p>{{ .Params.excerpt }}</p>
      <p><a href="{{ .RelPermalink  }}">Read On &rarr;</a></p>
    {{ end  }}
  {{ end }}
{{ end  }}
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
